* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
#js_modal {
  display: none;
  background-color: #c0c0c0;
  position: fixed;
  width: 100vw;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #fff;
}

#js_button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

tbody tr {
  text-align: right;
}

.form_invalid {
  color: #f50000;
  font-size: 12px;
  padding-left: 12px;
}

.input_invalid {
}
