* {
    list-style-type: none;
}

a {
    &:hover {
        cursor: pointer;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.newsLoadImg,
.slideLoadImg {
    object-fit: contain;
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// contentsUI

#js-news {
    position: relative;
    width: 700px;
    margin: 100px auto 0;
    border-radius: 0.375rem;

    #error-message {
        text-align: center;
    }

    .newsAreaWrap {
        border: 1px solid #e5e7eb;
    }

    .tabTopicsWrap {
        .tabTopics {
            display: flex;
            padding-top: 1.5rem;
            padding-right: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 1.5rem;
            background-color: rgb(224 231 255);
        }

        .tab {
            &.select a {
                background-color: rgb(255 255 255);
                border-radius: 0.375rem;
            }
            a {
                padding-top: 0.5rem;
                padding-right: 0.75rem;
                padding-bottom: 0.5rem;
                padding-left: 0.75rem;
                font-size: 0.875rem;
                line-height: 1.25rem;
                font-weight: 500;
                color: rgb(107 114 128);
            }
        }
    }

    .tabPanelWrap {
        .mainNewsContent {
            display: flex;
            justify-content: space-between;
            padding-top: 1.5rem;
            padding-right: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 1.5rem;
            .newsList {
                li {
                    display: flex;
                    align-items: center;
                    transition: 0.3s all ease;
                    height: 42px;
                    width: 350px;

                    &:hover {
                        background-color: rgb(243 244 246);
                    }

                    .articleLink {
                        display: flex;
                        align-items: center;
                        padding-top: 0.5rem;
                        padding-right: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 0.5rem;
                        h1 {
                            width: 220px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

            .categoryImg {
                width: 230px;
                height: 130px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .newIcon {
        font-size: 0.75rem;
        line-height: 1rem;
        padding: 0.25rem;
        border: 1px solid rgb(239 68 68);
        color: rgb(239 68 68);
        border-radius: 0.125rem;
        margin-left: 0.25rem;
    }

    .commentIcon {
        margin-left: 0.25rem;
        height: 100%;
        a {
            display: flex;
            align-items: center;
            height: 100%;
        }
        &Num {
            margin-left: 0.25rem;
        }
    }
}

// slideshow
.sliderWrap {
    position: relative;
    width: 600px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;

    .errorMessage {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nextPrevBtnWrap {
        .arrowBtn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .--nextBtn {
            right: -10%;
            padding: 0.5rem;
            &:disabled {
                pointer-events: none;
            }
        }
        .--prevBtn {
            left: -10%;
            padding: 0.5rem;
            &:disabled {
                pointer-events: none;
            }
        }
    }
}

.sliderList {
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
    li {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
        &[data-view='on'] {
            z-index: 1 !important;
        }
    }
}

.pageNumWrap {
    text-align: center;
    margin-top: 0.5rem;
}

.indicatorList {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    .indicatorItem {
        cursor: pointer;
        color: rgb(0, 0, 0);
        opacity: 0.5;
        &[data-select='select'] {
            opacity: 1;
            pointer-events: none;
        }
    }
}
