* {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.load {
  -o-object-fit: contain;
     object-fit: contain;
  width: 150px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabTopicsWrap {
  width: 700px;
  margin: 100px auto 0;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}
.tabTopicsWrap .tabTopics {
  display: flex;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  background-color: rgb(224, 231, 255);
}
.tabTopicsWrap .tab.select a {
  background-color: rgb(255, 255, 255);
  border-radius: 0.375rem;
}
.tabTopicsWrap .tab a {
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(107, 114, 128);
}

.tabPanelWrap .mainNewsContent {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}
.tabPanelWrap .mainNewsContent .newsList li {
  display: flex;
  align-items: center;
  transition: 0.3s all ease;
  height: 42px;
  width: 350px;
}
.tabPanelWrap .mainNewsContent .newsList li:hover {
  background-color: rgb(243, 244, 246);
}
.tabPanelWrap .mainNewsContent .newsList li .articleLink {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.tabPanelWrap .mainNewsContent .newsList li .articleLink h1 {
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tabPanelWrap .mainNewsContent .categoryImg {
  width: 230px;
  height: 130px;
}
.tabPanelWrap .mainNewsContent .categoryImg img {
  width: 100%;
  height: 100%;
}

.newIcon {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem;
  border: 1px solid rgb(239, 68, 68);
  color: rgb(239, 68, 68);
  border-radius: 0.125rem;
  margin-left: 0.25rem;
}

.commentIcon {
  margin-left: 0.25rem;
  height: 100%;
}
.commentIcon a {
  display: flex;
  align-items: center;
  height: 100%;
}
.commentIconNum {
  margin-left: 0.25rem;
}

.sliderWrap {
  position: relative;
  width: 600px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}
.sliderWrap .nextPrevBtnWrap .arrowBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.sliderWrap .nextPrevBtnWrap .--nextBtn {
  right: -10%;
  padding: 0.5rem;
}
.sliderWrap .nextPrevBtnWrap .--nextBtn:disabled {
  pointer-events: none;
}
.sliderWrap .nextPrevBtnWrap .--prevBtn {
  left: -10%;
  padding: 0.5rem;
}
.sliderWrap .nextPrevBtnWrap .--prevBtn:disabled {
  pointer-events: none;
}

.sliderList {
  position: relative;
  width: 600px;
  height: 350px;
  overflow: hidden;
}
.sliderList li {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sliderList li img {
  width: 100%;
  height: 100%;
}
.sliderList li[data-view=on] {
  z-index: 1 !important;
}

.pageNumWrap {
  text-align: center;
  margin-top: 0.5rem;
}

.indicatorList {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.indicatorList .indicatorItem {
  cursor: pointer;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.indicatorList .indicatorItem[data-select=select] {
  opacity: 1;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */