body {
  height: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.invalidError {
  margin-top: 2px;
  font-size: 12px;
  color: red;

  &.mail,
  &.confirmMail.notMailCharError,
  &.confirmMail.notMatchError,
  &.password {
    display: none;
  }
}

.submitBtn {
  border: 2px solid #000;
  padding: 3px 8px;
  background-color: gray;
  opacity: 0.5;
  &:not(:disabled) {
    border: 2px solid green;
    background-color: rgb(127, 207, 7);
    color: #fff;
    opacity: 1;
  }
}

.form {
  &_wrap {
    width: 650px;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 50px;
    border: 1px solid #000;
  }

  &_head {
    margin-top: 20px;
    text-align: center;
  }

  &_area {
    margin-top: 20px;

    &-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .userMail,
      .userConfirmMail,
      .userPassword {
        display: flex;
        justify-content: space-between;
        width: 350px;

        .columnBox {
          display: flex;
          flex-direction: column;
          width: 60%;
        }

        label[for="mail"],
        label[for="confirmMail"],
        label[for="password"] {
          width: 40%;
        }

        input[name="mail"],
        input[name="confirmMail"],
        input[name="password"] {
          border: 1px solid #000;
          padding: 2px 3px;
        }
      }
    }
    .submit {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
