#memberTable {
    overflow: hidden;
    width: 750px;
    margin: 100px auto 0;
    table {
        width: 100%;
        text-align: left;

        thead {
            background-color: #6b7280;
            color: #e5e7eb;
        }
        tbody {
            background-color: #fff;
            color: #6b7280;
        }
        th,
        td {
            padding: 4px;
        }
        th {
            border: 1px solid #fff;
        }
        td {
            border: 1px solid #6b7280;
        }
    }
}
