* {
  list-style-type: none;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.load {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}
.tabTopics {
  display: flex;
  background-color: #e6ecfe;
  width: 50%;
}
.tab {
  a {
    font-weight: 700;
    color: #1d3994;
  }
}
div[class*="content_wrap"] {
  display: flex;
  li {
    position: relative;
    display: block;
    &:before {
      content: "・";
      position: absolute;
      left: -15px;
    }
  }
}

.mainNewsContent {
  .newsList {
    li {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
      }
    }
    
  }
}

.newIcon {
  font-size: .75rem;
  line-height: 1rem;
  padding: 0.25rem;
  border: 1px solid rgb(239 68 68);
  color: rgb(239 68 68);
  border-radius: 0.125rem;
  margin-left: 0.25rem;
}

.commentIcon {
  margin-left: 0.25rem;
  &Num {
    margin-left: 0.25rem;
  }
}
