* {
  list-style-type: none;
}
.load {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
}
.tabTopics {
  display: flex;
  background-color: #e6ecfe;
  width: 50%;
}
.tab {
  a {
    font-weight: 700;
    color: #1d3994;
    &:hover {
      cursor: pointer;
    }
  }
}
div[class*="content_wrap"] {
  display: flex;
  li {
    position: relative;
    display: block;
    &:before {
      content: "・";
      position: absolute;
      left: -15px;
    }
  }
}
