#js-modal {
  display: none;
  background-color: #c0c0c0;
  position: fixed;
  width: 100vw;
  height: 100%;
}

#js-modal-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #fff;
}

#js-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
